<h1>Cars R Us</h1>
{{!-- {{#if loggedIn}} --}}
<div>
  <label for="yearDropdown">Year:</label>
  <select id="yearDropdown" name="yearDropdown" class="col-2">
    {{#each years}}
      <option value="{{this.value}}">{{this.label}}</option>
    {{/each}}
  </select>
  <label for="makeDropdown">Make:</label>
  <select id="makeDropdown" name="makeDropdown" class="col-2">
    {{#each makes}}
      <option value="{{this.value}}">{{this.label}}</option>
    {{/each}}
  </select>
  <label for="modelDropdown">Model:</label>
  <select id="modelDropdown" name="modelDropdown" class="col-2">
    {{#each models}}
      <option value="{{this.value}}">{{this.label}}</option>
    {{/each}}
  </select>
  <label for="colorDropdown">Color:</label>
  <select id="colorDropdown" name="colorDropdown" class="col-2">
    {{#each colors}}
      <option value="{{this.value}}">{{this.label}}</option>
    {{/each}}
  </select>
</div>
{{!-- {{else}} --}}

<a href="http://localhost:3001/login">You must be logged in to view the listings</a>
{{> list}}

<script src="/Develop/public/js/dropdown.js"></script>